body{
background-color:#ece3e3;
} 
h1{
    text-align: center;
    color: black;
}
p{
    text-align: center;
    color: #000000;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
}
    p strong{
        color: #00ff00;
}
#logo{
    width: 200px;
}
#banner-principal{
    width: 100%;
}
.banner{
    width: 250px;
    height: 250px;
    border-radius: 40%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#logo{
    height: 70px;
}
.menu ul li{
    display: inline;
}
.contanier{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#video{
    background: #00ff00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-bottom: 3px solid orange;

}
#video > .contanier > img {
height: 315px;
}
footer{
    text-align: center;
    padding: 20px;
}
.menu> ul> li> a:link{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.menu> ul> li> a:hover{
    border-bottom: 2px solid green;
}
.menu> ul> li> a:hover{
    color: green;
    border-bottom: 2px solid green;
    font-weight: 700;
}